.ProductsPage {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.ProductList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Расстояние между элементами списка */
  list-style: none;
}

.ProductItem {
  flex: 1 1 calc(50% - 20px); /* Расчёт ширины элемента с учётом gap */
  border: 1px solid #ccc; /* Граница для наглядности */
  border-radius: 10px;
  padding: 10px; /* Отступ внутри каждого элемента */
  box-sizing: border-box; /* Учитываем padding и border в ширине элемента */
  margin: 5px 0;
}

.ProductItem h2 {
  margin: 0 0 10px;
}

.ProductItem p {
  margin: 5px 0;
}

.Pagination {
  display: flex;
  justify-content: center;
}

.Pagination button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff; /* Синий цвет фона */
  color: white; /* Белый текст */
  border: none; /* Убираем границу */
  border-radius: 5px; /* Скругляем углы */
  cursor: pointer; /* Курсор в виде указателя */
  font-size: 16px; /* Размер шрифта */
  transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

.button:hover {
  background-color: #0056b3; /* Темно-синий цвет фона при наведении */
}

.Pagination button:disabled {
  background-color: #cccccc; /* Серый цвет фона для неактивной кнопки */
  cursor: not-allowed; /* Курсор в виде знака запрета */
}
.Spinner {
  display: flex;
  justify-content: center;
}

.Loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
